{% extends 'core/base.html' %}

{% block content %}

<div class="w-1/2 my-6 mx-auto">
    <h1 class="text-3xl">Log in</h1>

    <form method="post" action=".">
        {% csrf_token %}

        <div class="p-4">
            <label class="inline-block mb-2">Username</label><br>
            {{ form.username }}
        </div>

        <div class=" p-4">
            <label class="inline-block mb-2">Password</label><br>
            {{ form.password }}
        </div>

        {% if form.errors or form.non_field_errors %}
            <div class="p-2 bg-red-100">
                {% for field in form %}
                    {{ field.errors }}
                {% endfor %}

                {{ form.non_field_error }}
            </div>
        {% endif %}
        
        <button class="text-2xl bg-gray-300 p-2 rounded-xl">Submit</button>
    </form>
        
</div>

{% endblock %}